body {
    background-color: #D8A7A3;
    width: 100%;
    height: 100svh;
    margin: auto;
    padding: auto;
    position: relative;
    overflow: hidden;
}

.top_bar {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 51;
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.title {
    width: 10%;
    font-size: 1rem;
    margin: 0px;
    font-family: emoji;
    padding-left: 1rem;
}

ul {
    width: 70%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 15rem 0 0;
    padding: 0;
}

ul li {
    padding: 1rem;
}

.order {
    width: 10%;
}

.left {
    background-color: #7CA982;
    width: 40%;
    height: 100svh;
    border-radius: 0% 64% 64% 0% / 0% 90% 90% 0%;
}

.left h1 {
    font-family: 'Oswald', sans-serif;
}

.left label {
    font-family: 'Rubik', sans-serif;
}

.dis {
    margin: auto;
    width: 10rem;
    height: 20rem;
    top: 20%;
    left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.dis h1 {
    margin: 0;
    color: white;
}

.control_img {
    width: 100%;
    height: 3rem;
    background: transparent;
    z-index: 55;
    display: inline-table;
}

.control_img button {
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: transparent;
}

.control_img label {
    width: 50%;
    display: inline-block;
    color: #ffffff82;
}

.btn_next,
.btn_back {
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background: #78CBBF;
    color: white;
    z-index: 55;
}

.btn_back {
    background: transparent;
    color: black;
}

.right {
    background-color: transparent;
    width: 70rem;
    height: 25rem;
    position: absolute;
    top: 35%;
    left: 30%;
    overflow: auto;
    display: flex;
    gap: 1rem;
}

.images {
    width: 1500px;
    height: 1500px;
    position: absolute;
    border-radius: 100%;
    top: -75%;
    right: 30%;
    z-index: 50;
}

.img_1 {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 13%;
    right: -5%;
    transition: width 2s, height 2s;
}

.img_2 {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 38%;
    right: -12%;
    transition: width 2s, height 2s;
}

.img_3 {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 65%;
    right: -4%;
    transition: width 2s, height 2s;
}

.img_11 {
    display: none;
}

button:hover {
    transform: scale(1.05);
}

@media (max-width:1000px) {
    .images {
        rotate: -10deg;
    }

    .left {
        width: 35%;
    }

    .right {
        width: 65%;
    }
}

@media (max-width:700px) {
    .top_bar {
        display: none;
    }

    .dis {
        margin: auto;
        width: 10rem;
        height: 20rem;
        top: 20%;
        left: 2%;
    }
}


@media (max-width:600px) {
    .left {
        width: 15rem;
        height: 40%;
    }

    .dis {
        width: 14rem;
        height: 13rem;
        top: 0%;
        left: 2%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .btn_left {
        width: 10rem;
    }

    .images {
        width: 100%;
        height: 60%;
        position: absolute;
        border-radius: none;
        top: 40%;
        right: 0%;
        rotate: 0deg;
        align-content: center;
        text-align: -webkit-center;
    }

    .img_1,
    .img_2,
    .img_3 {
        display: none;
    }

    .img_11 {
        display: block;
        width: 14rem;
        height: 14rem;
        transition: width 2s, height 2s;
    }
}